Architecture: iphoneos-arm
Depends: firmware (>= 3.0), mobilesubstrate (>= 0.9.6011), preferenceloader
Name: Cylinder
Version: 1.0.7~beta2
Package: com.r333d.cylinder
Section: Tweaks
Icon: file:///Library/PreferenceBundles/CylinderSettings.bundle/Icon@2x.png
Author: Reed Weichler (rweichler) <rweichler+cydia@gmail.com>
Maintainer: ichitaso <willfeeltips+cylider@gmail.com>
Homepage: https://github.com/rweichler/cylinder
Depiction: https://cydia.ichitaso.com/depiction/cylinder.html
Description: Make your icons dance
